{{define "title"}}About{{end}}

{{define "main"}}
<h2>About</h2>
<p>
    Welcome to our web application, a platform designed for seamless text sharing and collaboration. Whether you're a
    developer sharing code snippets, a writer showcasing excerpts, or someone simply looking to exchange text snippets
    effortlessly, our app is here to streamline the process.
</p>
{{end}}